<div class="row">
    <div class="col-xs-12">
        <img src="{{recipe.imagePath}}" alt="" class="img-fluid" style="width: 200px;">
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h1>
            {{recipe.name}}
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Manage
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" (click)="onAddToShoppingList()">Add to Shopping List</a></li>
              <li><a class="dropdown-item" (click)="onEdit()">Edit Recipe</a></li>
              <li><a class="dropdown-item">Delete Recipe</a></li>
            </ul>
          </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        {{recipe.description}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="list-group">
            <div *ngFor="let ingredients of recipe.ingredients" class="list-group-item d-flex justify-content-between">
              <span>{{ ingredients.name }}</span>
              <span>{{ingredients.amount}}</span>
            </div>
          </div>
    </div>
</div>